@charset "UTF-8";

table {
	margin: 0 auto;
	width: 800px;
	height: 500px;
	border-collapse: collapse;
	background-color: #FFEBEE;	
}

th {
	height: 30px;
	background-color: #880E4F;
}

td {
	text-align: center;
	border-bottom: 1px solid gray; 	
}

#td1 {
	width: 80px;	
}

#td2 {
	width: 160px;	
}

.title {
	text-align: left;	
}

tr:hover {
	background-color: #F8BBD0;	
}