<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.sujin.board.BoardDTO" alias="boardDTO"/>

		<typeAlias type="com.sujin.login.LoginDTO" alias="loginDTO"/>		

		<typeAlias type="com.sujin.board.PageDTO" alias="pageDTO"/>		

		<typeAlias type="com.sujin.login.JoinDTO" alias="joinDTO"/>		
	</typeAliases>
</configuration>
